In [1]:
import pandas as pd
import numpy as np

In [2]:
with open("../covid_data/data/us-counties.csv") as f:
    raw_covid_df = pd.read_csv(f)

In [3]:
raw_covid_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1056746  2021-02-22  Sweetwater     Wyoming  56037.0   3686    34.0
1056747  2021-02-22       Teton     Wyoming  56039.0   3331     9.0
1056748  2021-02-22       Uinta     Wyoming  56041.0   2030    12.0
1056749  2021-02-22    Washakie     Wyoming  56043.0    878    26.0
1056750  2021-02-22      Weston     Wyoming  56045.0    620     5.0

[1056751 rows x 6 columns]

In [4]:
with open("../covid_data/data/census_cbsa.csv") as f:
    census_delination_df = pd.read_csv(f)

In [5]:
census_delination_df

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,13,Central
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,45,Outlying
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,27,Central
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48,59,Outlying
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48,253,Outlying
...,...,...,...,...,...,...,...,...,...,...,...,...
1910,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6,101,Central
1911,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6,115,Central
1912,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4,27,Central
1913,49780,NaN,198.0,"Zanesville, OH",Micropolitan Statistical Area,NaN,"Columbus-Marion-Zanesville, OH",Muskingum County,Ohio,39,119,Central
1914,49820,NaN,NaN,"Zapata, TX",Micropolitan Statistical Area,NaN,NaN,Zapata County,Texas,48,505,Central

In [6]:
with open("../metro_year_over_year_change 2020.csv") as f:
    metro_housing_df = pd.read_csv(f)

In [7]:
metro_housing_df

,Place Name,Place ID,Year,Quarter,HPI,YoY change,% YoY change,year dec. quarter
0,"Abilene, TX",10180,2020,1,233.73,15.53,7.117324,2020.00
1,"Abilene, TX",10180,2020,2,235.60,7.61,3.337866,2020.25
2,"Abilene, TX",10180,2020,3,240.50,11.38,4.966830,2020.50
3,"Abilene, TX",10180,2020,4,243.44,12.62,5.467464,2020.75
4,"Akron, OH",10420,2020,1,167.77,8.65,5.436149,2020.00
...,...,...,...,...,...,...,...,...
1799,West Virginia,54,2020,4,205.36,9.59,4.898606,2020.75
1800,Wyoming,56,2020,1,268.43,14.87,5.864490,2020.00
1801,Wyoming,56,2020,2,270.71,10.55,4.055197,2020.25
1802,Wyoming,56,2020,3,274.21,9.95,3.765231,2020.50
1803,Wyoming,56,2020,4,278.49,11.69,4.381559,2020.75

In [8]:
# make syntetic column in the delination data for the covid fips field
census_delination_df["covid_fips"] = census_delination_df["FIPS State Code"]*1000 + census_delination_df["FIPS County Code"]

In [9]:
census_delination_df

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,13,Central,46013
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,45,Outlying,46045
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,27,Central,53027
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48,59,Outlying,48059
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48,253,Outlying,48253
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6,101,Central,6101
1911,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6,115,Central,6115
1912,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4,27,Central,4027
1913,49780,NaN,198.0,"Zanesville, OH",Micropolitan Statistical Area,NaN,"Columbus-Marion-Zanesville, OH",Muskingum County,Ohio,39,119,Central,39119
1914,49820,NaN,NaN,"Zapata, TX",Micropolitan Statistical Area,NaN,NaN,Zapata County,Texas,48,505,Central,48505

In [10]:
# find cbsa codes in the metro data
metro_cbsa_ids = metro_housing_df["Place ID"].unique()

In [11]:
# filter censnus delination
metro_delination_df = census_delination_df[(census_delination_df["CBSA Code"].isin(metro_cbsa_ids)) | (census_delination_df["Metropolitan Division Code"].isin(metro_cbsa_ids))]

## filtering the place ids
The metro state year over year contains a single place id field (Place Id with less than 3 digits are state level data). This maps to the census delination data in either one of two fields, the census delination data CBSA Code or Metropolitan Division Code.

We need get the pair of FIPS State Code,FIPS County Code from the delination file where the metro data Place Id matches either the census CBSA Code OR Metropolitan Division Code. 

1. get the unique Place Ids from the metro data with values > 100
2. filter the census delination data where the CBSA Code or the Metro Division Code matches one of the unique metro place ids
3. get the unique covid_fips (an augmented column in the census data) codes

In [12]:
metro_cbsa_ids = metro_housing_df[metro_housing_df["Place ID"] >= 100]["Place ID"].unique()
metro_delination_df = census_delination_df[(census_delination_df["CBSA Code"].isin(metro_cbsa_ids)) | (census_delination_df["Metropolitan Division Code"].isin(metro_cbsa_ids))]
census_fips_codes = metro_delination_df["covid_fips"].unique()

In [13]:
metro_covid_data = raw_covid_df[raw_covid_df["fips"].isin(census_fips_codes)]

In [14]:
metro_covid_data

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1056722  2021-02-22  Washington   Wisconsin  55131.0  15409   139.0
1056723  2021-02-22    Waukesha   Wisconsin  55133.0  44449   514.0
1056726  2021-02-22   Winnebago   Wisconsin  55139.0  19613   203.0
1056738  2021-02-22     Laramie     Wyoming  56021.0   8135   105.0
1056740  2021-02-22     Natrona     Wyoming  56025.0   7674   127.0

[398913 rows x 6 columns]

In [15]:
# now get the data at the end of each quarter 
quarter_dates = np.array(["2020-03-31","2020-06-30","2020-09-30","2020-12-31"])
metro_quarter_data_df = metro_covid_data[metro_covid_data["date"].isin(quarter_dates)]

In [16]:
metro_quarter_data_df

              date      county      state     fips  cases  deaths
21727   2020-03-31     Autauga    Alabama   1001.0      7     0.0
21728   2020-03-31     Baldwin    Alabama   1003.0     19     0.0
21729   2020-03-31        Bibb    Alabama   1007.0      3     0.0
21730   2020-03-31      Blount    Alabama   1009.0      5     0.0
21733   2020-03-31     Calhoun    Alabama   1015.0      9     0.0
...            ...         ...        ...      ...    ...     ...
884708  2020-12-31  Washington  Wisconsin  55131.0  13185   102.0
884709  2020-12-31    Waukesha  Wisconsin  55133.0  37252   370.0
884712  2020-12-31   Winnebago  Wisconsin  55139.0  17021   165.0
884724  2020-12-31     Laramie    Wyoming  56021.0   7045    62.0
884726  2020-12-31     Natrona    Wyoming  56025.0   6479    92.0

[4577 rows x 6 columns]

In [17]:
def date_to_quarter(x):
    """
    Convert a date string into the quarter number
    """
    result = np.where(quarter_dates == x)
    return result[0][0] +1 
metro_quarter_data_df["quarter"] = metro_quarter_data_df["date"].apply(date_to_quarter)

<ipython-input-17-688723aab7d5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metro_quarter_data_df["quarter"] = metro_quarter_data_df["date"].apply(date_to_quarter)

In [40]:
covid_metro_quarter_data_df = metro_quarter_data_df.merge(metro_delination_df, left_on="fips", right_on="covid_fips")

In [41]:
covid_metro_quarter_data_df

,date,county,state,fips,cases,deaths,quarter,CBSA Code_x,Metropolitan Division Code_x,CSA Code_x,...,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
0,2020-03-31,Autauga,Alabama,1001.0,7,0.0,1,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
1,2020-06-30,Autauga,Alabama,1001.0,537,12.0,2,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
2,2020-09-30,Autauga,Alabama,1001.0,1791,27.0,3,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
3,2020-12-31,Autauga,Alabama,1001.0,4190,48.0,4,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
4,2020-03-31,Baldwin,Alabama,1003.0,19,0.0,1,19300,NaN,380.0,...,"Daphne-Fairhope-Foley, AL",Metropolitan Statistical Area,NaN,"Mobile-Daphne-Fairhope, AL",Baldwin County,Alabama,1,3,Central,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4572,2020-12-31,Lincoln,Wisconsin,55069.0,2605,59.0,4,48140,NaN,554.0,...,"Wausau-Weston, WI",Metropolitan Statistical Area,NaN,"Wausau-Stevens Point-Wisconsin Rapids, WI",Lincoln County,Wisconsin,55,69,Outlying,55069
4573,2020-09-30,Butte,Idaho,16023.0,39,0.0,3,26820,NaN,292.0,...,"Idaho Falls, ID",Metropolitan Statistical Area,NaN,"Idaho Falls-Rexburg-Blackfoot, ID",Butte County,Idaho,16,23,Outlying,16023
4574,2020-12-31,Butte,Idaho,16023.0,162,0.0,4,26820,NaN,292.0,...,"Idaho Falls, ID",Metropolitan Statistical Area,NaN,"Idaho Falls-Rexburg-Blackfoot, ID",Butte County,Idaho,16,23,Outlying,16023
4575,2020-09-30,Sterling,Texas,48431.0,5,0.0,3,41660,NaN,NaN,...,"San Angelo, TX",Metropolitan Statistical Area,NaN,NaN,Sterling County,Texas,48,431,Outlying,48431
4576,2020-12-31,Sterling,Texas,48431.0,100,1.0,4,41660,NaN,NaN,...,"San Angelo, TX",Metropolitan Statistical Area,NaN,NaN,Sterling County,Texas,48,431,Outlying,48431

In [20]:
metro_housing_df

,Place Name,Place ID,Year,Quarter,HPI,YoY change,% YoY change,year dec. quarter
0,"Abilene, TX",10180,2020,1,233.73,15.53,7.117324,2020.00
1,"Abilene, TX",10180,2020,2,235.60,7.61,3.337866,2020.25
2,"Abilene, TX",10180,2020,3,240.50,11.38,4.966830,2020.50
3,"Abilene, TX",10180,2020,4,243.44,12.62,5.467464,2020.75
4,"Akron, OH",10420,2020,1,167.77,8.65,5.436149,2020.00
...,...,...,...,...,...,...,...,...
1799,West Virginia,54,2020,4,205.36,9.59,4.898606,2020.75
1800,Wyoming,56,2020,1,268.43,14.87,5.864490,2020.00
1801,Wyoming,56,2020,2,270.71,10.55,4.055197,2020.25
1802,Wyoming,56,2020,3,274.21,9.95,3.765231,2020.50
1803,Wyoming,56,2020,4,278.49,11.69,4.381559,2020.75

## insert the housing place ids into the covid data

In [21]:
covid_cbsa_codes = metro_quarter_data_df["CBSA Code"].unique()

In [22]:
covid_metro_div_codes =metro_quarter_data_df[metro_quarter_data_df["Metropolitan Division Code"].notna()]["Metropolitan Division Code"].unique()

In [23]:
covid_metro_div_codes

array([36084., 31084., 42034., 11244., 41884., 48864., 47894., 22744.,
       33124., 48424., 16984., 20994., 29404., 23844., 23224., 15764.,
       14454., 47664., 19804., 40484., 35614., 15804., 35084., 35154.,
       35004., 33874., 37964., 19124., 23104., 42644., 45104.])

In [24]:
houseing_place_ids = metro_housing_df["Place ID"].unique()

In [25]:
housing_place_ids = metro_housing_df["Place ID"].unique()

In [26]:
census_delination_df_fitered = census_delination_df[(census_delination_df["CBSA Code"].isin(housing_place_ids))| (census_delination_df["Metropolitan Division Code"].notna().isin(housing_place_ids))]

In [27]:
census_delination_df_fitered

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48,59,Outlying,48059
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48,253,Outlying,48253
5,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Taylor County,Texas,48,441,Central,48441
17,10420,NaN,184.0,"Akron, OH",Metropolitan Statistical Area,NaN,"Cleveland-Akron-Canton, OH",Portage County,Ohio,39,133,Central,39133
18,10420,NaN,184.0,"Akron, OH",Metropolitan Statistical Area,NaN,"Cleveland-Akron-Canton, OH",Summit County,Ohio,39,153,Central,39153
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,49660,NaN,566.0,"Youngstown-Warren-Boardman, OH-PA",Metropolitan Statistical Area,NaN,"Youngstown-Warren, OH-PA",Trumbull County,Ohio,39,155,Central,39155
1909,49660,NaN,566.0,"Youngstown-Warren-Boardman, OH-PA",Metropolitan Statistical Area,NaN,"Youngstown-Warren, OH-PA",Mercer County,Pennsylvania,42,85,Central,42085
1910,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6,101,Central,6101
1911,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6,115,Central,6115
1912,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4,27,Central,4027

In [28]:
census_delination_df_fitered["census_place_id"] = census_delination_df_fitered[census_delination_df_fitered["CBSA Code"].isin(housing_place_ids)]["CBSA Code"]

<ipython-input-28-979e85970852>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_delination_df_fitered["census_place_id"] = census_delination_df_fitered[census_delination_df_fitered["CBSA Code"].isin(housing_place_ids)]["CBSA Code"]

In [29]:
census_delination_df_fitered["census_place_id"] = census_delination_df_fitered["census_place_id"].fillna(census_delination_df_fitered["Metropolitan Division Code"])

<ipython-input-29-edcf228f0161>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_delination_df_fitered["census_place_id"] = census_delination_df_fitered["census_place_id"].fillna(census_delination_df_fitered["Metropolitan Division Code"])

In [42]:
covid_metro_quarter_data_df

,date,county,state,fips,cases,deaths,quarter,CBSA Code_x,Metropolitan Division Code_x,CSA Code_x,...,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
0,2020-03-31,Autauga,Alabama,1001.0,7,0.0,1,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
1,2020-06-30,Autauga,Alabama,1001.0,537,12.0,2,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
2,2020-09-30,Autauga,Alabama,1001.0,1791,27.0,3,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
3,2020-12-31,Autauga,Alabama,1001.0,4190,48.0,4,33860,NaN,388.0,...,"Montgomery, AL",Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001
4,2020-03-31,Baldwin,Alabama,1003.0,19,0.0,1,19300,NaN,380.0,...,"Daphne-Fairhope-Foley, AL",Metropolitan Statistical Area,NaN,"Mobile-Daphne-Fairhope, AL",Baldwin County,Alabama,1,3,Central,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4572,2020-12-31,Lincoln,Wisconsin,55069.0,2605,59.0,4,48140,NaN,554.0,...,"Wausau-Weston, WI",Metropolitan Statistical Area,NaN,"Wausau-Stevens Point-Wisconsin Rapids, WI",Lincoln County,Wisconsin,55,69,Outlying,55069
4573,2020-09-30,Butte,Idaho,16023.0,39,0.0,3,26820,NaN,292.0,...,"Idaho Falls, ID",Metropolitan Statistical Area,NaN,"Idaho Falls-Rexburg-Blackfoot, ID",Butte County,Idaho,16,23,Outlying,16023
4574,2020-12-31,Butte,Idaho,16023.0,162,0.0,4,26820,NaN,292.0,...,"Idaho Falls, ID",Metropolitan Statistical Area,NaN,"Idaho Falls-Rexburg-Blackfoot, ID",Butte County,Idaho,16,23,Outlying,16023
4575,2020-09-30,Sterling,Texas,48431.0,5,0.0,3,41660,NaN,NaN,...,"San Angelo, TX",Metropolitan Statistical Area,NaN,NaN,Sterling County,Texas,48,431,Outlying,48431
4576,2020-12-31,Sterling,Texas,48431.0,100,1.0,4,41660,NaN,NaN,...,"San Angelo, TX",Metropolitan Statistical Area,NaN,NaN,Sterling County,Texas,48,431,Outlying,48431

In [43]:
covid_metro_quarter_with_placeids_df = covid_metro_quarter_data_df.merge(census_delination_df_fitered, left_on="fips", right_on="covid_fips")

In [44]:
covid_metro_quarter_with_placeids_df

,date,county,state,fips,cases,deaths,quarter,CBSA Code_x,Metropolitan Division Code_x,CSA Code_x,...,Metropolitan/Micropolitan Statistical Area_y,Metropolitan Division Title_y,CSA Title_y,County/County Equivalent_y,State Name_y,FIPS State Code_y,FIPS County Code_y,Central/Outlying County_y,covid_fips_y,census_place_id
0,2020-03-31,Autauga,Alabama,1001.0,7,0.0,1,33860,NaN,388.0,...,Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001,33860.0
1,2020-06-30,Autauga,Alabama,1001.0,537,12.0,2,33860,NaN,388.0,...,Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001,33860.0
2,2020-09-30,Autauga,Alabama,1001.0,1791,27.0,3,33860,NaN,388.0,...,Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001,33860.0
3,2020-12-31,Autauga,Alabama,1001.0,4190,48.0,4,33860,NaN,388.0,...,Metropolitan Statistical Area,NaN,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,1,1,Central,1001,33860.0
4,2020-03-31,Baldwin,Alabama,1003.0,19,0.0,1,19300,NaN,380.0,...,Metropolitan Statistical Area,NaN,"Mobile-Daphne-Fairhope, AL",Baldwin County,Alabama,1,3,Central,1003,19300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4572,2020-12-31,Lincoln,Wisconsin,55069.0,2605,59.0,4,48140,NaN,554.0,...,Metropolitan Statistical Area,NaN,"Wausau-Stevens Point-Wisconsin Rapids, WI",Lincoln County,Wisconsin,55,69,Outlying,55069,48140.0
4573,2020-09-30,Butte,Idaho,16023.0,39,0.0,3,26820,NaN,292.0,...,Metropolitan Statistical Area,NaN,"Idaho Falls-Rexburg-Blackfoot, ID",Butte County,Idaho,16,23,Outlying,16023,26820.0
4574,2020-12-31,Butte,Idaho,16023.0,162,0.0,4,26820,NaN,292.0,...,Metropolitan Statistical Area,NaN,"Idaho Falls-Rexburg-Blackfoot, ID",Butte County,Idaho,16,23,Outlying,16023,26820.0
4575,2020-09-30,Sterling,Texas,48431.0,5,0.0,3,41660,NaN,NaN,...,Metropolitan Statistical Area,NaN,NaN,Sterling County,Texas,48,431,Outlying,48431,41660.0
4576,2020-12-31,Sterling,Texas,48431.0,100,1.0,4,41660,NaN,NaN,...,Metropolitan Statistical Area,NaN,NaN,Sterling County,Texas,48,431,Outlying,48431,41660.0

## add in population data
for each fips value, add in the population data

In [46]:
population_df = pd.read_csv("../covid_data/data/census_population_only_estimates_2019.csv")

In [47]:
population_df["covid_fips"] = population_df["STATE"]*1000 + population_df["COUNTY"]

In [48]:
population_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2019,covid_fips
0,40,3,6,1,0,Alabama,Alabama,4903185,1000
1,50,3,6,1,1,Alabama,Autauga County,55869,1001
2,50,3,6,1,3,Alabama,Baldwin County,223234,1003
3,50,3,6,1,5,Alabama,Barbour County,24686,1005
4,50,3,6,1,7,Alabama,Bibb County,22394,1007
...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,42343,56037
3189,50,4,8,56,39,Wyoming,Teton County,23464,56039
3190,50,4,8,56,41,Wyoming,Uinta County,20226,56041
3191,50,4,8,56,43,Wyoming,Washakie County,7805,56043
3192,50,4,8,56,45,Wyoming,Weston County,6927,56045

In [49]:
covid_metro_quarter_with_placeids_population_df = covid_metro_quarter_with_placeids_df.merge(population_df, left_on="fips", right_on="covid_fips")

In [50]:
covid_metro_quarter_with_placeids_population_df

,date,county,state,fips,cases,deaths,quarter,CBSA Code_x,Metropolitan Division Code_x,CSA Code_x,...,census_place_id,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2019,covid_fips
0,2020-03-31,Autauga,Alabama,1001.0,7,0.0,1,33860,NaN,388.0,...,33860.0,50,3,6,1,1,Alabama,Autauga County,55869,1001
1,2020-06-30,Autauga,Alabama,1001.0,537,12.0,2,33860,NaN,388.0,...,33860.0,50,3,6,1,1,Alabama,Autauga County,55869,1001
2,2020-09-30,Autauga,Alabama,1001.0,1791,27.0,3,33860,NaN,388.0,...,33860.0,50,3,6,1,1,Alabama,Autauga County,55869,1001
3,2020-12-31,Autauga,Alabama,1001.0,4190,48.0,4,33860,NaN,388.0,...,33860.0,50,3,6,1,1,Alabama,Autauga County,55869,1001
4,2020-03-31,Baldwin,Alabama,1003.0,19,0.0,1,19300,NaN,380.0,...,19300.0,50,3,6,1,3,Alabama,Baldwin County,223234,1003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4572,2020-12-31,Lincoln,Wisconsin,55069.0,2605,59.0,4,48140,NaN,554.0,...,48140.0,50,2,3,55,69,Wisconsin,Lincoln County,27593,55069
4573,2020-09-30,Butte,Idaho,16023.0,39,0.0,3,26820,NaN,292.0,...,26820.0,50,4,8,16,23,Idaho,Butte County,2597,16023
4574,2020-12-31,Butte,Idaho,16023.0,162,0.0,4,26820,NaN,292.0,...,26820.0,50,4,8,16,23,Idaho,Butte County,2597,16023
4575,2020-09-30,Sterling,Texas,48431.0,5,0.0,3,41660,NaN,NaN,...,41660.0,50,3,7,48,431,Texas,Sterling County,1291,48431
4576,2020-12-31,Sterling,Texas,48431.0,100,1.0,4,41660,NaN,NaN,...,41660.0,50,3,7,48,431,Texas,Sterling County,1291,48431

In [52]:
covid_metro_quarter_with_placeids_population_agg_by_date_quarter_placeid_df = covid_metro_quarter_with_placeids_population_df.groupby(["date","quarter","census_place_id"], as_index=False).agg({"cases": {"sum"}, "POPESTIMATE2019": {"sum"}})

## final covid data
We now have a data frame with the total cases at the end of each quarter, and the population estimate for each place_id from the housing data

In [53]:
covid_metro_quarter_with_placeids_population_agg_by_date_quarter_placeid_df

            date quarter census_place_id  cases POPESTIMATE2019
                                            sum             sum
0     2020-03-31       1         10180.0     11          138034
1     2020-03-31       1         10420.0    169          703479
2     2020-03-31       1         10500.0    624          146726
3     2020-03-31       1         10540.0     37          129749
4     2020-03-31       1         10580.0    480          880381
...          ...     ...             ...    ...             ...
1609  2020-12-31       4         49420.0  21053          250873
1610  2020-12-31       4         49620.0  23283          449058
1611  2020-12-31       4         49660.0  31618          536081
1612  2020-12-31       4         49700.0  10403          175639
1613  2020-12-31       4         49740.0  27366          213787

[1614 rows x 5 columns]

In [55]:
# checking that for a given place id the population estimate is the same from quarter to quarter
covid_metro_quarter_with_placeids_population_agg_by_date_quarter_placeid_df[covid_metro_quarter_with_placeids_population_agg_by_date_quarter_placeid_df["census_place_id"] == 49420]

            date quarter census_place_id  cases POPESTIMATE2019
                                            sum             sum
397   2020-03-31       1         49420.0    147          250873
801   2020-06-30       2         49420.0   7385          250873
1205  2020-09-30       3         49420.0  12335          250873
1609  2020-12-31       4         49420.0  21053          250873

## add covid data to the metro housing data
now we want to merge in this covid aggregate data into the housing data based place id and quarter

In [56]:
metro_housing_with_covid = metro_housing_df.merge(covid_metro_quarter_with_placeids_population_agg_by_date_quarter_placeid_df, left_on=["Place ID","Quarter"], right_on=["census_place_id","quarter"])

c:\users\benja\pycharmprojects\3006_final\venv\lib\site-packages\pandas\core\reshape\merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

In [57]:
metro_housing_with_covid.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Place Name              1614 non-null   object
 1   Place ID                1614 non-null   int64
 2   Year                    1614 non-null   int64
 3   Quarter                 1614 non-null   int64
 4   HPI                     1614 non-null   float64
 5   YoY change              1614 non-null   float64
 6   % YoY change            1614 non-null   float64
 7   year dec. quarter       1614 non-null   float64
 8   (date, )                1614 non-null   object
 9   (quarter, )             1614 non-null   int64
 10  (census_place_id, )     1614 non-null   float64
 11  (cases, sum)            1614 non-null   int64
 12  (POPESTIMATE2019, sum)  1614 non-null   int64
dtypes: float64(5), int64(6), object(2)
memory usage: 176.5+ KB

In [59]:
metro_housing_with_covid = metro_housing_with_covid.rename(columns={("cases", "sum"): "total_covid_cases", ("POPESTIMATE2019","sum"): "population"})

In [60]:
metro_housing_with_covid.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Place Name           1614 non-null   object
 1   Place ID             1614 non-null   int64
 2   Year                 1614 non-null   int64
 3   Quarter              1614 non-null   int64
 4   HPI                  1614 non-null   float64
 5   YoY change           1614 non-null   float64
 6   % YoY change         1614 non-null   float64
 7   year dec. quarter    1614 non-null   float64
 8   (date, )             1614 non-null   object
 9   (quarter, )          1614 non-null   int64
 10  (census_place_id, )  1614 non-null   float64
 11  total_covid_cases    1614 non-null   int64
 12  population           1614 non-null   int64
dtypes: float64(5), int64(6), object(2)
memory usage: 176.5+ KB

## Next
Now that we have the total covid cases number at the end of each quarter assigned to each place id in the metro housing data, we want to calculate the new cases from quarter to quarter for each place id. quarter 1 the new cases, should just be the total cases for that quarter. for quarter 2, the new cases should be q2 total cases - q1 total cases, and so forth.

In [63]:
metro_housing_with_covid.groupby(by=["Place ID"]).head(10)

,Place Name,Place ID,Year,Quarter,HPI,YoY change,% YoY change,year dec. quarter,"(date, )","(quarter, )","(census_place_id, )",total_covid_cases,population
0,"Abilene, TX",10180,2020,1,233.73,15.53,7.117324,2020.00,2020-03-31,1,10180.0,11,138034
1,"Abilene, TX",10180,2020,2,235.60,7.61,3.337866,2020.25,2020-06-30,2,10180.0,1121,172060
2,"Abilene, TX",10180,2020,3,240.50,11.38,4.966830,2020.50,2020-09-30,3,10180.0,3740,172060
3,"Abilene, TX",10180,2020,4,243.44,12.62,5.467464,2020.75,2020-12-31,4,10180.0,14351,172060
4,"Akron, OH",10420,2020,1,167.77,8.65,5.436149,2020.00,2020-03-31,1,10420.0,169,703479
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,"Yuba City, CA",49700,2020,4,285.24,19.64,7.394578,2020.75,2020-12-31,4,49700.0,10403,175639
1610,"Yuma, AZ",49740,2020,1,201.61,12.66,6.700185,2020.00,2020-03-31,1,49740.0,12,213787
1611,"Yuma, AZ",49740,2020,2,202.43,9.68,5.022049,2020.25,2020-06-30,2,49740.0,6225,213787
1612,"Yuma, AZ",49740,2020,3,209.84,15.05,7.726269,2020.50,2020-09-30,3,49740.0,12730,213787
1613,"Yuma, AZ",49740,2020,4,216.61,18.79,9.498534,2020.75,2020-12-31,4,49740.0,27366,213787

In [64]:
# https://stackoverflow.com/questions/20648346/computing-diffs-within-groups-of-a-dataframe
metro_housing_with_covid = metro_housing_with_covid.sort_values(by=["Place ID","Quarter"])

In [65]:
metro_housing_with_covid['new_cases'] = metro_housing_with_covid.groupby("Place ID")["total_covid_cases"].diff()

In [66]:
metro_housing_with_covid

,Place Name,Place ID,Year,Quarter,HPI,YoY change,% YoY change,year dec. quarter,"(date, )","(quarter, )","(census_place_id, )",total_covid_cases,population,new_cases
0,"Abilene, TX",10180,2020,1,233.73,15.53,7.117324,2020.00,2020-03-31,1,10180.0,11,138034,NaN
1,"Abilene, TX",10180,2020,2,235.60,7.61,3.337866,2020.25,2020-06-30,2,10180.0,1121,172060,1110.0
2,"Abilene, TX",10180,2020,3,240.50,11.38,4.966830,2020.50,2020-09-30,3,10180.0,3740,172060,2619.0
3,"Abilene, TX",10180,2020,4,243.44,12.62,5.467464,2020.75,2020-12-31,4,10180.0,14351,172060,10611.0
4,"Akron, OH",10420,2020,1,167.77,8.65,5.436149,2020.00,2020-03-31,1,10420.0,169,703479,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,"Yuba City, CA",49700,2020,4,285.24,19.64,7.394578,2020.75,2020-12-31,4,49700.0,10403,175639,7500.0
1610,"Yuma, AZ",49740,2020,1,201.61,12.66,6.700185,2020.00,2020-03-31,1,49740.0,12,213787,NaN
1611,"Yuma, AZ",49740,2020,2,202.43,9.68,5.022049,2020.25,2020-06-30,2,49740.0,6225,213787,6213.0
1612,"Yuma, AZ",49740,2020,3,209.84,15.05,7.726269,2020.50,2020-09-30,3,49740.0,12730,213787,6505.0
1613,"Yuma, AZ",49740,2020,4,216.61,18.79,9.498534,2020.75,2020-12-31,4,49740.0,27366,213787,14636.0

In [67]:
metro_housing_with_covid["new_cases"] = metro_housing_with_covid["new_cases"].fillna(metro_housing_with_covid["total_covid_cases"])

In [68]:
metro_housing_with_covid

,Place Name,Place ID,Year,Quarter,HPI,YoY change,% YoY change,year dec. quarter,"(date, )","(quarter, )","(census_place_id, )",total_covid_cases,population,new_cases
0,"Abilene, TX",10180,2020,1,233.73,15.53,7.117324,2020.00,2020-03-31,1,10180.0,11,138034,11.0
1,"Abilene, TX",10180,2020,2,235.60,7.61,3.337866,2020.25,2020-06-30,2,10180.0,1121,172060,1110.0
2,"Abilene, TX",10180,2020,3,240.50,11.38,4.966830,2020.50,2020-09-30,3,10180.0,3740,172060,2619.0
3,"Abilene, TX",10180,2020,4,243.44,12.62,5.467464,2020.75,2020-12-31,4,10180.0,14351,172060,10611.0
4,"Akron, OH",10420,2020,1,167.77,8.65,5.436149,2020.00,2020-03-31,1,10420.0,169,703479,169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,"Yuba City, CA",49700,2020,4,285.24,19.64,7.394578,2020.75,2020-12-31,4,49700.0,10403,175639,7500.0
1610,"Yuma, AZ",49740,2020,1,201.61,12.66,6.700185,2020.00,2020-03-31,1,49740.0,12,213787,12.0
1611,"Yuma, AZ",49740,2020,2,202.43,9.68,5.022049,2020.25,2020-06-30,2,49740.0,6225,213787,6213.0
1612,"Yuma, AZ",49740,2020,3,209.84,15.05,7.726269,2020.50,2020-09-30,3,49740.0,12730,213787,6505.0
1613,"Yuma, AZ",49740,2020,4,216.61,18.79,9.498534,2020.75,2020-12-31,4,49740.0,27366,213787,14636.0

## now scale by population
we want to scale the cases numbers by a measure of the population

In [70]:
metro_housing_with_covid["total_covid_per_capita_1000"] = metro_housing_with_covid["total_covid_cases"]/(metro_housing_with_covid["population"]/1000)

In [72]:
metro_housing_with_covid["new_cases_per_capita_1000"] = metro_housing_with_covid["new_cases"]/(metro_housing_with_covid["population"]/1000)

In [76]:
#drop the unsed columns gained from the merges
metro_housing_with_covid.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 1613
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Place Name                   1614 non-null   object
 1   Place ID                     1614 non-null   int64
 2   Year                         1614 non-null   int64
 3   Quarter                      1614 non-null   int64
 4   HPI                          1614 non-null   float64
 5   YoY change                   1614 non-null   float64
 6   % YoY change                 1614 non-null   float64
 7   year dec. quarter            1614 non-null   float64
 8   (date, )                     1614 non-null   object
 9   (quarter, )                  1614 non-null   int64
 10  (census_place_id, )          1614 non-null   float64
 11  total_covid_cases            1614 non-null   int64
 12  population                   1614 non-null   int64
 13  new_cases                    1614 non-null   float64
 14  total_covid_per_capita_1000  1614 non-null   float64
 15  new_cases_per_capita_1000    1614 non-null   float64
dtypes: float64(8), int64(6), object(2)
memory usage: 214.4+ KB

In [78]:
metro_housing_with_covid_dropped = metro_housing_with_covid.drop(metro_housing_with_covid.columns[[8,9,10]], axis=1)

In [79]:
metro_housing_with_covid_dropped.to_csv("metro_year_over_year_change_2020_with_covid.csv")