In [20]:
import pandas as pd
import numpy as np

In [9]:
with open("../covid_data/data/us-counties.csv") as f:
    raw_covid_df = pd.read_csv(f)

In [10]:
raw_covid_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1056746  2021-02-22  Sweetwater     Wyoming  56037.0   3686    34.0
1056747  2021-02-22       Teton     Wyoming  56039.0   3331     9.0
1056748  2021-02-22       Uinta     Wyoming  56041.0   2030    12.0
1056749  2021-02-22    Washakie     Wyoming  56043.0    878    26.0
1056750  2021-02-22      Weston     Wyoming  56045.0    620     5.0

[1056751 rows x 6 columns]

In [37]:
with open("../covid_data/data/census_cbsa.csv") as f:
    census_delination_df = pd.read_csv(f)

In [38]:
census_delination_df

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,13,Central
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,45,Outlying
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,27,Central
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48,59,Outlying
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48,253,Outlying
...,...,...,...,...,...,...,...,...,...,...,...,...
1910,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6,101,Central
1911,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6,115,Central
1912,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4,27,Central
1913,49780,NaN,198.0,"Zanesville, OH",Micropolitan Statistical Area,NaN,"Columbus-Marion-Zanesville, OH",Muskingum County,Ohio,39,119,Central
1914,49820,NaN,NaN,"Zapata, TX",Micropolitan Statistical Area,NaN,NaN,Zapata County,Texas,48,505,Central

In [39]:
with open("../metro_year_over_year_change 2020.csv") as f:
    metro_housing_df = pd.read_csv(f)

In [40]:
metro_housing_df

,Place Name,Place ID,Year,Quarter,HPI,YoY change,% YoY change,year dec. quarter
0,"Abilene, TX",10180,2020,1,233.73,15.53,7.117324,2020.00
1,"Abilene, TX",10180,2020,2,235.60,7.61,3.337866,2020.25
2,"Abilene, TX",10180,2020,3,240.50,11.38,4.966830,2020.50
3,"Abilene, TX",10180,2020,4,243.44,12.62,5.467464,2020.75
4,"Akron, OH",10420,2020,1,167.77,8.65,5.436149,2020.00
...,...,...,...,...,...,...,...,...
1799,West Virginia,54,2020,4,205.36,9.59,4.898606,2020.75
1800,Wyoming,56,2020,1,268.43,14.87,5.864490,2020.00
1801,Wyoming,56,2020,2,270.71,10.55,4.055197,2020.25
1802,Wyoming,56,2020,3,274.21,9.95,3.765231,2020.50
1803,Wyoming,56,2020,4,278.49,11.69,4.381559,2020.75

In [42]:
# make syntetic column in the delination data for the covid fips field
census_delination_df["covid_fips"] = census_delination_df["FIPS State Code"]*1000 + census_delination_df["FIPS County Code"]

In [43]:
census_delination_df

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
0,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,13,Central,46013
1,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,45,Outlying,46045
2,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,27,Central,53027
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48,59,Outlying,48059
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48,253,Outlying,48253
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6,101,Central,6101
1911,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6,115,Central,6115
1912,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4,27,Central,4027
1913,49780,NaN,198.0,"Zanesville, OH",Micropolitan Statistical Area,NaN,"Columbus-Marion-Zanesville, OH",Muskingum County,Ohio,39,119,Central,39119
1914,49820,NaN,NaN,"Zapata, TX",Micropolitan Statistical Area,NaN,NaN,Zapata County,Texas,48,505,Central,48505

In [17]:
# find cbsa codes in the metro data
metro_cbsa_ids = metro_housing_df["Place ID"].unique()

In [69]:
# filter censnus delination
metro_delination_df = census_delination_df[(census_delination_df["CBSA Code"].isin(metro_cbsa_ids)) | (census_delination_df["Metropolitan Division Code"].isin(metro_cbsa_ids))]

## filtering the place ids
The metro state year over year contains a single place id field (Place Id with less than 3 digits are state level data). This maps to the census delination data in either one of two fields, the census delination data CBSA Code or Metropolitan Division Code.

We need get the pair of FIPS State Code,FIPS County Code from the delination file where the metro data Place Id matches either the census CBSA Code OR Metropolitan Division Code. 

1. get the unique Place Ids from the metro data with values > 100
2. filter the census delination data where the CBSA Code or the Metro Division Code matches one of the unique metro place ids
3. get the unique covid_fips (an augmented column in the census data) codes

In [85]:
metro_cbsa_ids = metro_housing_df[metro_housing_df["Place ID"] >= 100]["Place ID"].unique()
metro_delination_df = census_delination_df[(census_delination_df["CBSA Code"].isin(metro_cbsa_ids)) | (census_delination_df["Metropolitan Division Code"].isin(metro_cbsa_ids))]
census_fips_codes = metro_delination_df["covid_fips"].unique()

In [90]:
metro_covid_data = raw_covid_df[raw_covid_df["fips"].isin(census_fips_codes)]

In [91]:
metro_covid_data

,date,county,state,fips,cases,deaths,state_id,county_id
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,53,61.0
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,53,61.0
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,53,61.0
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,17,31.0
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,53,61.0
...,...,...,...,...,...,...,...,...
1056722,2021-02-22,Washington,Wisconsin,55131.0,15409,139.0,55,131.0
1056723,2021-02-22,Waukesha,Wisconsin,55133.0,44449,514.0,55,133.0
1056726,2021-02-22,Winnebago,Wisconsin,55139.0,19613,203.0,55,139.0
1056738,2021-02-22,Laramie,Wyoming,56021.0,8135,105.0,56,21.0
1056740,2021-02-22,Natrona,Wyoming,56025.0,7674,127.0,56,25.0

In [93]:
# now get the data at the end of each quarter 
quarter_dates = np.array(["2020-03-31","2020-06-30","2020-09-30","2020-12-31"])
metro_quarter_data_df = metro_covid_data[metro_covid_data["date"].isin(quarter_dates)]

In [94]:
metro_quarter_data_df

,date,county,state,fips,cases,deaths,state_id,county_id
21727,2020-03-31,Autauga,Alabama,1001.0,7,0.0,1,1.0
21728,2020-03-31,Baldwin,Alabama,1003.0,19,0.0,1,3.0
21729,2020-03-31,Bibb,Alabama,1007.0,3,0.0,1,7.0
21730,2020-03-31,Blount,Alabama,1009.0,5,0.0,1,9.0
21733,2020-03-31,Calhoun,Alabama,1015.0,9,0.0,1,15.0
...,...,...,...,...,...,...,...,...
884708,2020-12-31,Washington,Wisconsin,55131.0,13185,102.0,55,131.0
884709,2020-12-31,Waukesha,Wisconsin,55133.0,37252,370.0,55,133.0
884712,2020-12-31,Winnebago,Wisconsin,55139.0,17021,165.0,55,139.0
884724,2020-12-31,Laramie,Wyoming,56021.0,7045,62.0,56,21.0
884726,2020-12-31,Natrona,Wyoming,56025.0,6479,92.0,56,25.0

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
3,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Callahan County,Texas,48,59,Outlying,48059
4,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Jones County,Texas,48,253,Outlying,48253
5,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,NaN,NaN,Taylor County,Texas,48,441,Central,48441
17,10420,NaN,184.0,"Akron, OH",Metropolitan Statistical Area,NaN,"Cleveland-Akron-Canton, OH",Portage County,Ohio,39,133,Central,39133
18,10420,NaN,184.0,"Akron, OH",Metropolitan Statistical Area,NaN,"Cleveland-Akron-Canton, OH",Summit County,Ohio,39,153,Central,39153
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,49660,NaN,566.0,"Youngstown-Warren-Boardman, OH-PA",Metropolitan Statistical Area,NaN,"Youngstown-Warren, OH-PA",Trumbull County,Ohio,39,155,Central,39155
1909,49660,NaN,566.0,"Youngstown-Warren-Boardman, OH-PA",Metropolitan Statistical Area,NaN,"Youngstown-Warren, OH-PA",Mercer County,Pennsylvania,42,85,Central,42085
1910,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Sutter County,California,6,101,Central,6101
1911,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,NaN,"Sacramento-Roseville, CA",Yuba County,California,6,115,Central,6115
1912,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,NaN,NaN,Yuma County,Arizona,4,27,Central,4027

In [105]:
metro_quarter_data_df = metro_quarter_data_df.merge(metro_delination_df, left_on="fips", right_on="covid_fips")

In [111]:
metro_quarter_data_df[metro_quarter_data_df["fips"] == 51107]

,date,county,state,fips,cases,deaths,state_id,county_id,CBSA Code,Metropolitan Division Code,...,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County,covid_fips
3844,2020-03-31,Loudoun,Virginia,51107.0,87,0.0,51,107.0,47900,47894.0,...,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",Loudoun County,Virginia,51,107,Central,51107
3845,2020-06-30,Loudoun,Virginia,51107.0,4000,87.0,51,107.0,47900,47894.0,...,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",Loudoun County,Virginia,51,107,Central,51107
3846,2020-09-30,Loudoun,Virginia,51107.0,6889,125.0,51,107.0,47900,47894.0,...,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",Loudoun County,Virginia,51,107,Central,51107
3847,2020-12-31,Loudoun,Virginia,51107.0,14169,159.0,51,107.0,47900,47894.0,...,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Arlington, DC-MD-VA-WV-PA",Loudoun County,Virginia,51,107,Central,51107

In [ ]:
# need to uniquely assign the metro place id into the this data frame